{{ 'casatlantic-section-video.css' | asset_url | stylesheet_tag }}

{% if section.settings.video_url %}
    <div class="casatlantic-video center spaced-section {% if section.settings.horizontal_padding %}casatlantic-video--horizontal-padding{%- endif -%}">
        <video autoplay="" class="_1BP2G" crossorigin="anonymous" height="100%" id="comp-koona4co_video" loop="" muted="" playsinline="" preload="auto" role="presentation" src="{{ section.settings.video_url }}" style="width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1;" tabindex="-1" width="100%"></video>
    </div>
{%- endif -%}

{% schema %}

{
    "name": "t:sections.casatlantic-video.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "url",
            "id": "video_url",
            "label": "t:sections.casatlantic-video.settings.video_url.label"
        }, {
            "type": "checkbox",
            "id": "horizontal_padding",
            "default": false,
            "label": "t:sections.casatlantic-video.settings.horizontal_padding.label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.casatlantic-video.presets.name"
        }
    ]
}

{% endschema %}
